# variables
* data types
int, float, string, boolean

In [1]:
a = 10

In [2]:
print(type(a))

<class 'int'>

In [3]:
id(a)  # location in memmory

140705175216816

In [4]:
b = True
c = False
print(type(b))
print(type(c))

<class 'bool'>
<class 'bool'>

In [5]:
name  = "ai"
type(name)

str

In [6]:
val1 =100
val2 = val1 # pass by refference
print(val2)

100

In [7]:
id(val1)==id(val2)

True

In [8]:
val3 = 100
id(val3)==id(val1)

True

In [9]:
name = "pakistan"

In [10]:
name.replace("n","p")

'pakistap'

In [11]:
name.index("a")

1

In [12]:
name.count("a")

2

In [13]:
name.expandtabs()

'pakistan'

In [14]:
name.center(15,"*")

'****pakistan***'

In [15]:
d = name.isprintable()

In [16]:
d

True

In [17]:
name.casefold()

'pakistan'

In [18]:
name.find("s")

4

In [19]:
name.format()

'pakistan'

In [20]:
name = "Pakistan"
year = 1947
print(f"my name is {name} and i came into existance in {year}")

my name is Pakistan and i came into existance in 1947

# string formatting

In [ ]:
name = input("Enter your age")
age = input("Enter your age")
print(f"my name is {name} and my age is {age}")

In [ ]:
name = input("Enter your age")
age = input("Enter your age")
print("my name is {} and my age is {}".format(name,age))