In [1]:
a = ["abc","def","Ghi",False,1,2,3,4]

In [2]:
a[1:4]

['def', 'Ghi', False]

In [3]:
len(a)

8

In [4]:
id(a)

1957007742024

In [5]:
b= ["abc","def","Ghi",False,[1,2,3,4]]

In [6]:
id(a)==id(b)

False

In [7]:
id(b)

1957008742152

In [8]:
b[-4:4]

['def', 'Ghi', False]

In [9]:
b[-1:-5:-1]

[[1, 2, 3, 4], False, 'Ghi', 'def']

In [10]:
b = ["Khalid","Zubair","Zeeshan","Amir"]
b[-1:-5:-1]

['Amir', 'Zeeshan', 'Zubair', 'Khalid']

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [1,2,3,4,5,6,7,8,9]

In [12]:
id(list1) == id(list2)

False

In [13]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
students = ["Khalid","Zubair","Zeeshan","Ali"]
for i in students:
    print(i)

Khalid
Zubair
Zeeshan
Ali

In [15]:
students = []

for i in range(10):
    name = input("Enter students name ")
    students.append(name)
students

Enter students name lhkj
Enter students name dfsd
Enter students name s
Enter students name sd
Enter students name s
Enter students name sf
Enter students name sdf
Enter students name
Enter students name sdf
Enter students name

['lhkj', 'dfsd', 's', 'sd', 's', 'sf', 'sdf', '', 'sdf', '']

In [16]:
pizza = ["Fajita","Malai boti","Tikka"]
for i in pizza:
    print(i)

Fajita
Malai boti
Tikka

In [17]:
pizza = ["Fajita","Malai boti","Tikka"]
for i in pizza:
    print(f"I like {i} pizza")
print("I Really love pizza")

I like Fajita pizza
I like Malai boti pizza
I like Tikka pizza
I Really love pizza

In [18]:
animals = ["cat","Tiger","Lion"]
for i in animals:
    print(i)

cat
Tiger
Lion

In [19]:
animals = ["cat","Tiger","Lion"]
for i in animals:
    print(f"I love my pet {i}")
print("Tiger is a great pet")

I love my pet cat
I love my pet Tiger
I love my pet Lion
Tiger is a great pet

In [20]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [21]:
even = []
odd = []
for i in range(0,100):
    if i%2 ==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [22]:
employees = ["Khalid","Zubair","Zeeshan","Ali"]
user = input("Enter name")
for i in employees:
    if user in employees:
        print("Available")
        break
    else:
        print("not available")
        break

Enter namedfsdf
not available

In [23]:
employees = ["Khalid","Zubair","Zeeshan","Ali"]
user = input("Enter name")

if user in employees:
    print("Available")
        
else:
    print("not available")

Enter namesdfsd
not available

In [24]:
available_toppings = ['mushrooms', 'olives', 'green peppers',
 'pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
    else:
        print("Sorry, we don't have " + requested_topping + ".")

print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

In [25]:
employees = []
for employees in range(5):
    emp_name = input("Enter name")
    if emp_name not in employees:
        employees.append(emp_name)
    else:
        print("Already added")

Enter nameZeeshan

TypeError: argument of type 'int' is not iterable

In [2]:
mytuple = [x for x in range(1,6)]
print(mytuple)

[1, 2, 3, 4, 5]