In [1]:
# operator overloading
a = "zeeshan "
b = "Saleem"
c  =a +b
c

'zeeshan Saleem'

In [2]:
# intger div or floor div
a = 10
b = 2
c = 10//2
c

5

In [3]:
# equality
10 ==10

True

In [4]:
# in equality
10 !=0

True

In [5]:
# exponent
2**2

4

In [6]:
12.6/10

1.26

In [7]:
12.6//2

6.0

# Inroducing Lists

In [8]:
lista =[]
lista.append("zeeshan")
lista

['zeeshan']

In [9]:
alist = ["abc","def",21,["hasdjk",23,"sadas"]]

In [10]:
alist

['abc', 'def', 21, ['hasdjk', 23, 'sadas']]

In [11]:
# book exercise

In [12]:
names = ["Zubair","Khalid","Uzair"]
for i in names:
    print(i)

Zubair
Khalid
Uzair

In [13]:
message = "May Allah Bless You"
for i in names:
    print(message,i)

May Allah Bless You Zubair
May Allah Bless You Khalid
May Allah Bless You Uzair

In [14]:
msg2 = input("Enter message")
tra = ["bike","car","bus"]
for i in tra:
    print(msg2,i)

Enter messagesdasd
sdasd bike
sdasd car
sdasd bus

In [15]:
#add, del, replace ,new item

In [16]:
blist = [] 
blist.append("Zeeshan")
blist

['Zeeshan']

In [17]:
blist.pop()

'Zeeshan'

In [18]:
blist

[]

In [19]:
# alist.count()

In [20]:
a = [1,2,3]
b=[4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [21]:
c = a + b
c

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [22]:
country = "pakistan"
for i in country:
    print(i)

p
a
k
i
s
t
a
n

In [23]:
alist.insert(3,"sasasa")

In [24]:
alist

['abc', 'def', 21, 'sasasa', ['hasdjk', 23, 'sadas']]

In [25]:
alist.remove("def")

In [26]:
alist

['abc', 21, 'sasasa', ['hasdjk', 23, 'sadas']]

In [27]:
alist.reverse()
alist

[['hasdjk', 23, 'sadas'], 'sasasa', 21, 'abc']

In [28]:
a = ["zeeshan","zubair","Khalid"]
b = sorted(a)
b

['Khalid', 'zeeshan', 'zubair']

In [29]:
print(a)

['zeeshan', 'zubair', 'Khalid']

In [30]:
a.sort()

In [31]:
a

['Khalid', 'zeeshan', 'zubair']

# For loops

In [32]:
for i in "Pakistan":
    print(i,end="*")

P*a*k*i*s*t*a*n*

In [33]:
for i in alist:
    print(i)

['hasdjk', 23, 'sadas']
sasasa
21
abc

In [34]:
for i in range(100,50,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51